// Hero Section
.hero-section {
    background-image: url('../images/hero-section-bkg.jpg');
    background-size: cover;
    background-position: top left;
   
    min-height: 300px;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
        min-height: 80vh;
    }

    h1 {
        font-family: $secondary-font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: white;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
    }

    p {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 0.8em;
        color: white;
    }
}

// About Section
.about-section {
    padding: 130px 0;

    .title {
        color: #1a1a1a;
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: 20px;
        margin-top: 1rem;
        margin-bottom: 25px;

        @media (min-width: 768px) {
            font-size: 1.5rem;
            padding-top: 35px;
            margin-top: 0.5rem;
        }

        @media (min-width: 992px) {
            font-size: 1.9rem;
        }
    }

    .text {
        margin-bottom: 30px;

        p {
            font-family: $primary-font;
            font-weight: 400;
            font-size: 0.9rem;
            color: #555c6a;

            // @media (min-width: 768px) {
            //     font-size: 0.8rem;
            // }

            // @media (min-width:992px) {
            //     font-size:0.7rem
            // }
        }
    }

    .image-container {
        position: relative;
        width: 100%;

        .text {
            background: $primary-color;
            position: absolute;
            bottom: -10%;
            right: 15%;
            padding: 25px;
            border-top-left-radius: 2em;
            border-bottom-left-radius: 0.6em;
            border-top-right-radius: 0.6em;
            border-bottom-right-radius: 2em;
            box-shadow: 3px 8px 15px
                change-color($color: $primary-color, $alpha: 0.5);

            p {
                margin-bottom: 0px;
                color: #030303;
                font-family: $primary-font;
                font-weight: 500;
                font-size: 1.3rem;
                text-align: left;
            }
        }
    }
}

// Business Vertical
.business-vertical-section {
    padding: 100px 0;
    background: linear-gradient(to bottom, #f2f5f8 0%, #ffffff 100%);

    h2 {
        text-align: center;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 28px;

        @media (min-width: 576px) {
            font-size: 3rem;
        }
    }

    .items {
        background-color: transparent;
        border: 1.5px solid #d9d9d9;
        margin-top: 15px;
        padding: 1.25rem;
        border-radius: 15px;
        transition: background-color 0.5s ease-in;
        cursor: pointer;
        box-shadow: -2px 10px 31px #e8e8e8;

        @media (min-width: 768px) {
            padding: 30px;
            margin-top: 15px;
        }

        .card-body {
            padding: 0px;

            .icon {
                width: 50px;
                padding-right: 10px;
            }

            .para1 {
                font-family: $secondary-font;
                font-weight: 600;
                margin-bottom: 0;
            }

            .para2 {
                font-family: $primary-font;
                font-weight: 300;
                font-size: 0.9em;
                color: #6e666c;
                margin-bottom: 0.1rem;

                @media (min-width: 768px) {
                    margin-bottom: 1rem;
                }
            }
        }

        &:hover {
            background-color: #ffd500;
            border-color: #ffd500;

            .card-body {
                .para2 {
                    color: #000;
                }
            }
        }
    }
}

// Our Brand Section
.our-brand-section {
    margin-top: 0px;

    @media (min-width: 768px) {
        margin-top: 40px;
    }

    .tns-outer {
        position: relative;

        .tns-controls {
            position: absolute;
            width: calc(100% + 20px);
            // width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            z-index: 2;
            display: flex;
            justify-content: space-between;
            @media (min-width: 768px) {
                width: calc(100% + 80px);
            }
            button {
                background: transparent;
                border: none;
                box-shadow: none;
                padding: 0px;
                @media (min-width: 768px) {
                }
                i {
                    color: #ffd700;
                }
            }
        }
    }

    .brand-slider-container {
        .slide {
            .logo-item {
                margin: 0;
            }
        }
    }

    h2 {
        font-family: $secondary-font;
        font-weight: bold;
        padding-top: 60px;
        padding-left: 10px;

        @media (min-width: 992px) {
            padding-top: 0;
        }

        @media (min-width: 1200px) {
            padding-top: 80px;
        }
    }

    p {
        font-family: $primary-font;
        font-weight: 400;
        color: #949494;
        font-size: 0.9em;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 1px;
        margin-bottom: 50px;

        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }
}

// Company Section
.company-section {
    background-color: #ffd700;
    width: 100%;

    img {
        padding: 15px 5px;
        cursor: pointer;

        @media (min-width: 768px) {
            padding: 40px 0;
        }
    }
}

// News Section
.news-section {
    padding: 100px 0;

    .title {
        font-family: $secondary-font;
        font-weight: bold;
        text-align: center;
        margin-bottom: 25px;
        color: #090241;

        @media (min-width: 576px) {
            font-size: 3rem;
            margin-bottom: 25px;
        }
    }

    .news {
        margin-bottom: 30px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        .thumbnail-container {
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            border-top-left-radius: 5em;
            border-bottom-right-radius: 5em;
            position: relative;

            img {
                width: auto;
                height: 100%;
                transition: transform ease-in-out 0.3s;
            }

            &::after {
                content: '';
                position: absolute;
                left: -75%;
                z-index: 2;
                width: 50%;
                height: 100%;
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                transform: skewX(-25deg);
                transition: left 0.75s;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }

                &::after {
                    left: 125%;
                }
            }
        }

        .text-container {
            padding: 0;
            padding-top: 18px;

            .news-title {
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 1.2rem;
                color: #181818;

                @media (min-width: 768px) {
                    font-size: 1.5rem;
                }
            }

            .excerpt {
                border-bottom: 1px solid #dbdbdb;
                padding-bottom: 10px;

                p {
                    font-family: $primary-font;
                    font-weight: 300;
                    font-size: 0.9em;
                    color: #404040;
                    margin-bottom: 0;
                }
            }

            .meta_data {
                font-family: $secondary-font;
                font-weight: 500;
                font-size: 0.8em;
                text-transform: uppercase;
                padding: 0.8em;
                color: #7a7a7a;
                border-bottom: 1px solid #dbdbdb;
                margin-bottom: 0;
            }
        }
    }
}

.client-section {
    margin-top: 50px;

    .tns-outer {
        position: relative;

        .tns-controls {
            position: absolute;
            width: calc(100% + 54px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;

            @media (min-width: 1200px) {
                width: calc(100% + 105px);
            }

            button {
                background-color: transparent;
                border: none;
                box-shadow: none;
                color: $primary-color;
            }
        }
    }

    h2 {
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 23px;
        text-align: center;
        color: #090241;

        @media (min-width: 768px) {
            font-size: 2rem;
            margin-bottom: 50px;
        }
        @media (min-width: 992px) {
            margin-bottom: 30px;
        }
    }

    .quote {
        margin-left: 15px;
        border-left: 1px solid $primary-color;
        padding-left: 10px;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
            font-family: $primary-font;
            font-weight: 600;
            line-height: 1.2;
        }
    }
    .client-box {
        width: 100%;
        // box-shadow: 12px 6px 20px 1px #d2dbf9;
        // box-shadow: -2px 10px 31px darken($color: $primary-color, $amount: 3);
        padding-top: 10px;
        background: #fff;
        user-select: none;
        @media (min-width: 768px) {
            width: 100%;
        }
        .text {
            font-family: $primary-font;
            font-style: italic;
            color: #989393;
            font-size: 0.7rem;
            padding: 20px 10px;
            margin-bottom: 0px;
            font-size: 0.9rem;
            text-align: center;
        }
        .name {
            font-family: $secondary-font;
            font-weight: bold;
            padding-left: 15px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            color: #090241;
            text-align: center;
            span {
                font-family: $primary-font;
                font-weight: 400;
                font-size: 0.7em;
            }
        }
        &:hover {
            // box-shadow: 0 0 16px rgba(0, 0, 0, 0.2784313725490196);
            // background-color: #193676;
            transition: 0.5s;
            // box-shadow: 0px 12px 10px 2px #c6d1f7;
            // transform: translateY(-10px);
            color: #fff;
            // .name{
            //     color:#fff;
            // }
            // .text{
            //     color:#fff;
            // }
            // .latest-blog-text {
            //     color: #fff;
            // }
            // .card-img-top {
            //     &.normal {
            //         display: none;
            //     }
            //     &.hover {
            //         display: flex;
            //     }
            // }
        }
    }
}

.circle-container {
    border-radius: 10em;
    overflow: hidden;
    height: 60px;
    width: 60px;
    position: relative;
    margin: 0 auto;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// p {
//     padding-bottom: 0.2rem;
//     margin-bottom: 0.2rem;

//     @media (min-width: 768px) {
//         padding-bottom: 1rem;
//         margin-bottom: 1rem;
//     }
// }

.nav-section-bottom {
    background-color: #070707;
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    @media (min-width: 768px) {
        justify-content: left;
        margin-bottom: none;
    }

    ul{
        @media (max-width: 768px) {
            margin : 0 auto;
        }
    }
}
.nav-section-bottom li {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 0.7em;
    padding-bottom: 1%;
    position: relative;
    a {
        color: white;
        padding: 0.5rem 0.5rem;
        text-decoration: none;
        &::after {
            content: '';
            position: absolute;
            // left: $menu-item-gap;
            left: 0;
            top: calc(100% + 5px);
            width: 0%;
            height: 5px;
            background-color: $primary-color;
            transition: width ease-in-out 0.3s;
        }
        @media (min-width: 768px) {
            padding: 0.5rem 1rem;
        }
    }
    &:hover {
        a {
            text-decoration: none;

            &::after {
                width: calc(100%);
            }
        }
    }
}

.nav-section-bottom .nav-link-text {
    color: white;
    padding-left: 150px;
}
footer img {
    width: 100%;
}
footer {
    background: #070707;
    padding-bottom: 18px;
    .copyright {
        color: #fff;
        font-family: $secondary-font;
        font-size: 0.7em;
        text-align: center;
        @media (min-width: 768px) {
            text-align: right;
        }
        a {
            text-decoration: none;
        }
    }
}
.publish-testimonial {
    padding: 32px;
}

.page-template-default {
    margin: 0 !important;
}

.page-card-link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.block {
    position:relative;
  }
  
  .block .overlay {
    position:absolute;
    left:0; top:0; bottom:0; right:0;
  }
  
  .block .inner {
    position:relative;
    pointer-events: none;
    z-index: 1;
  }
  
  .block .inner a {
    pointer-events: all;
  }
